{% load static%}
{% load mptt_tags %}


<!DOCTYPE html>
<!-- [if IE 7]><html class="ie ie7"><![endif]-->
<!--[if IE 8]><html class="ie ie8"><![endif]-->
<!--[if IE 9]><html class="ie ie9"><![endif] -->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="{% static 'favicon/apple-touch-icon.png'%}" rel="apple-touch-icon">
    <link href="{% static 'favicon/favicon.png'%}" rel="icon">
    <meta name="author" content="Nghia Minh Luong">
    <meta name="keywords" content="Default Description">
    <meta name="description" content="Default keyword">
    <title>{%block title%}{{title}}{%endblock title%}</title>
    <!-- Fonts-->
    
    <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow:300,400,700%7CMontserrat:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'plugins/font-awesome/css/font-awesome.min.css'%}">
    <link rel="stylesheet" href="{% static 'plugins/ps-icon/style.css'%}">
    <!-- CSS Library-->
    <link rel="stylesheet" href="{% static 'plugins/bootstrap/dist/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'plugins/owl-carousel/assets/owl.carousel.css'%}">
    <link rel="stylesheet" href="{% static 'plugins/jquery-bar-rating/dist/themes/fontawesome-stars.css'%}">
    <link rel="stylesheet" href="{% static 'plugins/slick/slick/slick.css'%}">
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-select/dist/css/bootstrap-select.min.css'%}">
    <link rel="stylesheet" href="{% static 'plugins/Magnific-Popup/dist/magnific-popup.css'%}">
    <link rel="stylesheet" href="{% static 'plugins/jquery-ui/jquery-ui.min.css'%}">
    <link rel="stylesheet" href="{% static 'plugins/revolution/css/settings.css'%}">
    <link rel="stylesheet" href="{% static 'plugins/revolution/css/layers.css'%}">
    <link rel="stylesheet" href="{% static 'plugins/revolution/css/navigation.css'%}">
    <!-- Custom-->
    
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <!--HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries-->
    <!--WARNING: Respond.js doesn't work if you view the page via file://-->
    <!--[if lt IE 9]><script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script><script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script><![endif]-->
  </head>
  <!--[if IE 7]><body class="ie7 lt-ie8 lt-ie9 lt-ie10"><![endif]-->
  <!--[if IE 8]><body class="ie8 lt-ie9 lt-ie10"><![endif]-->
  <!--[if IE 9]><body class="ie9 lt-ie10"><![endif]-->
  <body class="ps-loading">
    <div class="header--sidebar"></div>
    <header class="header">
      <div class="header__top">
        <div class="container-fluid">
          <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-6 col-xs-12 ">
               <p>{%for i in myinfo%}
                 {{i.toptext}}
                {%endfor%}</p>
                </div>

                <div class="col-lg-6 col-md-4 col-sm-6 col-xs-12 ">
                  {%if not request.user.is_authenticated%}

                  <div class="header__actions"><a href="{%url 'login'%}">Вход</a>
                    <div class="header__actions"><a href="{%url 'registration'%}">Регистрация</a>
                 {%else%}
                 <div class="header__actions"><a href="{% url 'profile' %}">Профиль <strong> {{request.user.username}}</strong></a>

                  <div class="header__actions"><a href="{%url 'logout'%}">Выйти</a>


                  {%endif%}
                      
                  </div>
                </div>
              </div>
                  </div>
                </div>
          </div>
        </div>
      </div>
      <nav class="navigation">
        <div class="container-fluid">
          <div class="navigation__column left">
            <div class="header__logo"><a class="ps-logo" href="{%url 'base'%}"><img src="{%for i in logo%} {{i.logo.url}} {%endfor%}" alt=""></a></div>
          </div>
 


















          
 <div class="navigation__column center">
  <ul class="main-menu menu">
   






 
{% for node in topcategory %}

     {% if node.level == 0 %} 
<li class="menu-item menu-item-has-children has-mega-menu"><a href="{{ node.get_absolute_url }}">{{node.name}}</a>
  {% endif %}
  <div class="mega-menu">
    <div class="mega-wrap">


     
      <div class="mega-column">
        <ul class="mega-item mega-features">
          <li><a href="product-listing.html">{{node.children.products}}</a></li>
        </ul>
      </div>

     
     
      {% for item in node.children.all %}
      <div class="mega-column">
        <h4 class="mega-heading">{{item.name}} </h4>
        {% for child in item.children.all%}
        
        <ul class="mega-item">
          <li><a href="{{ child.get_absolute_url }}">{{ child.name }}</a></li>
        </ul>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
  </div>
</li>


{% endfor %}



</div>

                             













          <div class="navigation__column right">


            <form class="ps-search--header" action="/category/Men/"  method="GET">
              <input class="form-control" name="search" type="search" placeholder="Поиск товара">
              <button><i class="ps-icon-search"></i></button>
            </form>



            

              
              
              <div class="ps-cart">

              <a class="ps-cart__toggle" href="{%url 'cart'%}"><span><i>{{cart.products.count}}</i></span><i class="ps-icon-shopping-cart"></i></a>

              <div class="ps-cart__listing">
                <div class="ps-cart__total">
                  <p>Товаров в корзине:<span>{{cart.total_products}}</span></p>
                  <p>Общая сумма:<span>{{cart.final_price}} Грн</span></p>
                </div>
          <div class="ps-cart__footer"><a class="ps-btn" href="{%url 'cart'%}">К корзине<i class="ps-icon-arrow-left"></i></a></div>
              </div>
            </div>
            <a class="ps-cart__toggle" href="{%url 'whishlist' %}" ><i class="ps-icon-heart"></i></a>


            <div class="menu-toggle"><span></span></div>
          </div>
        </div>
      </nav>
    </header>
    <div class="header-services">
      <div class="ps-services owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="7000" data-owl-gap="0" data-owl-nav="true" data-owl-dots="false" data-owl-item="1" data-owl-item-xs="1" data-owl-item-sm="1" data-owl-item-md="1" data-owl-item-lg="1" data-owl-duration="1000" data-owl-mousedrag="on">
        {% for text in toptext %}
      
        <p class="ps-service"><i class="ps-icon-delivery"></i><strong>{{text.title }} </strong> : {{ text.text}}</p>
        {%endfor%}
      </div>
    </div>


    


    {% if messages %}

      {% for message in messages %}
      {%if message.tags == 'error' %}
      <div class="alert alert-danger alert-dismissible mt-5 ">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <div class="row">
        <h3 class="text-center">  {{ message }}  </h3>
      </div>
    </div>
    {%else%}
    <div class="alert alert-{{message.tags}} alert-dismissible mt-5 ">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <div class="row">
      <h3 class="text-center">  {{ message }}  </h3>
    </div>
  </div>
  {% endif %}

      {% endfor %}
    
    {% endif %}





<!-- {% if messages %}
<ul class="messages">
    {% for message in messages %}
      <strong style="margin-left: 45%;color: green">    {{ message }}  </strong></p>
    {% endfor %}
</ul>
{% endif %} -->



    {%block main%}
    {%endblock main%}
    <!-- <div class="ps-subscribe">
      <div class="ps-container">
        <div class="row">

        </div>
      </div>
    </div> -->
    <div class="ps-footer bg--cover" data-background="">
      <div class="ps-footer__content">
        <div class="ps-container">
          <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
                  <aside class="ps-widget--footer ps-widget--info">
                    <header><a class="ps-logo" href="/"><img src="" alt=""></a>
                      {%for i in myinfo%}
                      <h3 class="ps-widget__title">{{i.adress1}}</h3>
                    </header>
                    <footer>
                      <p><strong>{{i.street1}}</strong></p>
                      <p>Email: <a href='mailto:{{i.email1}}'>{{i.email1}}</a></p>
                      <p>Phone: {{i.phone1}}</p>
                      <!-- <p>Fax: ++323 32434 5333</p> -->
                    </footer>                

                  </aside>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
                  <aside class="ps-widget--footer ps-widget--info second">
                    <header>
                      <h3 class="ps-widget__title">{{i.adress2}}</h3>
                    </header>
                    <footer>
                      <p><strong>{{i.street2}}</strong></p>
                      <p>Email: <a href='mailto:{{i.email2}}'>{{i.email2}}</a></p>
                      <p>Phone: {{i.phone2}}</p>
                    </footer>{%endfor%}
                  </aside>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 ">
                  <aside class="ps-widget--footer ps-widget--link">
                    <header>
                      <h3 class="ps-widget__title">Find Our store</h3>
                    </header>
                    <footer>
                      <ul class="ps-list--link">
                        <li><a href="#">Coupon Code</a></li>
                        <li><a href="#">SignUp For Email</a></li>
                        <li><a href="#">Site Feedback</a></li>
                        <li><a href="#">Careers</a></li>
                      </ul>
                    </footer>
                  </aside>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 ">
                  <aside class="ps-widget--footer ps-widget--link">
                    <header>
                      <h3 class="ps-widget__title">Инфо</h3>
                    </header>
                    <footer>
                      <ul class="ps-list--line">
                        <li><a href="{%url 'about'%}">О нас</a></li>
                        <li><a href="{%url 'delivery'%}">Оплата и доставка</a></li>
                        <li><a href="{%url 'returns'%}">Возврат</a></li>
                        <!-- <li><a href="#">Payment Options</a></li> -->
                        <li><a href="{%url 'contact-us'%}">Наши контакты</a></li>
                      </ul>
                    </footer>
                  </aside>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 ">
                  <aside class="ps-widget--footer ps-widget--link">
                    <header>
                      <h3 class="ps-widget__title">Продукты</h3>
                    </header>
                    <footer>
                      <ul class="ps-list--line">
                        {%for i in topcategory %}
                        {% if i.level < 1 %}
                        <li><a href="{{i.get_absolute_url}}">{{i.name}}</a></li>
                        {%endif%}
                        {%endfor%}                     
                      </ul>
                    </footer>
                  </aside>
                </div>
          </div>
        </div>
      </div>
      <div class="ps-footer__copyright">
        <div class="ps-container">
          <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                  {%for i in myinfo%}
                  <p>&copy; {{i.about}}</p>
                  {%endfor%}
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                  <ul class="ps-social">
                    {%for i in logo%}
                    <li><a href="{{i.facebook}}"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="{{i.twiter}}"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="{{i.insta}}"><i class="fa fa-instagram"></i></a></li>
                    {%endfor%}
                  </ul>
                </div>
          </div>
        </div>
      </div>
    </div>
    <!-- JS Library-->
    <script>
      var submitButton = document.getElementById('submit');
      submitButton.addEventListener('click', function(event) {
          this.disabled = true;
      });
     </script>
    <script type="text/javascript" src="{% static 'plugins/revolution/js/extensions/revolution.extension.kenburn.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'plugins/revolution/js/extensions/revolution.extension.migration.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'plugins/jquery/dist/jquery.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'plugins/bootstrap/dist/js/bootstrap.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'plugins/jquery-bar-rating/dist/jquery.barrating.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'plugins/owl-carousel/owl.carousel.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'plugins/gmap3.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'plugins/imagesloaded.pkgd.js'%}"></script>
    <script type="text/javascript" src="{% static 'plugins/isotope.pkgd.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'plugins/bootstrap-select/dist/js/bootstrap-select.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'plugins/jquery.matchHeight-min.js'%}"></script>
    <script type="text/javascript" src="{% static 'plugins/slick/slick/slick.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'plugins/elevatezoom/jquery.elevatezoom.js'%}"></script>
    <script type="text/javascript" src="{% static 'plugins/Magnific-Popup/dist/jquery.magnific-popup.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'plugins/jquery-ui/jquery-ui.min.js'%}"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAx39JFH5nhxze1ZydH-Kl8xXM3OK4fvcg&amp;region=Ua"></script>
    <script type="text/javascript" src="{% static 'plugins/revolution/js/jquery.themepunch.tools.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'plugins/revolution/js/jquery.themepunch.revolution.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'plugins/revolution/js/extensions/revolution.extension.video.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'plugins/revolution/js/extensions/revolution.extension.slideanims.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'plugins/revolution/js/extensions/revolution.extension.navigation.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'plugins/revolution/js/extensions/revolution.extension.parallax.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'plugins/revolution/js/extensions/revolution.extension.actions.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'plugins/revolution/js/extensions/revolution.extension.kenburn.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'plugins/revolution/js/extensions/revolution.extension.migration.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'plugins/revolution/js/extensions/revolution.extension.kenburn.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'plugins/revolution/js/extensions/revolution.extension.migration.min.js'%}"></script>

    <!-- Custom scripts-->
    <script type="text/javascript" src="{% static 'js/main.js'%}"></script>
  </body>
</html>