{%extends 'base.html'%}
{% load static%}
{% load search_filter %}
{% load mptt_tags %}




{%block main%}
<nav aria-label="breadcrumb" class="mt-5">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'base' %}">Главная</a></li>
    <li class="breadcrumb-item active">{{ category.name }}</li>
  </ol>
</nav>

<main class="ps-main">
  <div class="ps-products-wrap pt-80 pb-80">
    <div class="ps-products" data-mh="product-listing">
      <div class="ps-product-action">
        <!-- <div class="ps-product__filter"> -->
          <!-- <select class="ps-select selectpicker">
            <option value="1">Shortby</option>
            <option value="2">Name</option>
            <option value="3">Price (Low to High)</option>
            <option value="3">Price (High to Low)</option>
          </select> -->
        </div>
        <!-- <div class="ps-pagination">
          <ul class="pagination">
            <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">...</a></li>
            <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
          </ul>
        </div>
      </div> -->
      <div class="ps-product__columns">
  <!-- <form class="d-flex mt-3" action="{% url 'category_detail' slug=category.slug %}" method="GET">
        <input class="form-control me-2" name="search" type="search" placeholder="Поиск товара" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Поиск</button>
      </form> -->
{%for product in category_products.object_list%}
        <div class="ps-product__column">
          <div class="ps-shoe mb-30">
            <div class="ps-shoe__thumbnail"><a class="ps-shoe__favorite" href="{%url 'add_to_whishlist' slug=product.slug x='category' %}" title="Добавить в Избранное"><i class="ps-icon-heart"></i></a><img src="{{product.image1.url}}" alt="{{product.title}}" height="320"><a class="ps-shoe__overlay" href="{{product.get_absolute_url}}"></a>
            </div>
            <div class="ps-shoe__content">
              <div class="ps-shoe__variants">



                <div class="ps-shoe__variant normal"><img src="{%if product.image2%} {{product.image2.url}} {%endif%}" alt=""><img src="{%if product.image3%} {{product.image3.url}} {%endif%}" alt=""><img src="{%if product.image4%} {{product.image4.url}} {%endif%}" alt=""><img src="{%if product.image5%} {{product.image5.url}} {%endif%}" alt=""></div>



                <!-- <select class="ps-rating ps-shoe__rating">
                  <option value="1">1</option>
                  <option value="1">2</option>
                  <option value="1">3</option>
                  <option value="1">4</option>
                  <option value="2">5</option>
                </select> -->
              </div>
              <div class="ps-shoe__detail"><a class="ps-shoe__name" href="{{product.get_absolute_url}}">{{product.title}}</a>
                <p class="ps-shoe__categories"><a href=" {{product.category.parent.parent.get_absolute_url}}  ">
                  {{product.category.parent.parent}} </a>
                  <a href="{{product.category.get_absolute_url}}">{{product.category.name}}
                  </a></p><span class="ps-shoe__price"> {{product.price}} Грн</span>
              </div>
            </div>
          </div>
        </div>
{%endfor%}


      </div>
      <form method="GET" name="sort" >
      <div class="ps-product-action">
        <div class="ps-product__filter">
          <select class="ps-select selectpicker" onchange ="if (this.value)window.location.href=this.value">
            <option value='/'>Сортировка : 
              <option value="?sort=title">
             Сотировать по Имени
            </option>
              <option value="?sort=priceup "
             >Сотировать по Возростанию цены</option>
              <option value="?sort=pricedown "
             >Сотировать по Убыванию цены</option>
    
          </select>
        </div>
      </form>
 
        <div class="ps-pagination">
          <ul class="pagination">
            {% if page.has_other_pages %}
            {% if page.has_previous %}

            <li><a href="?page={{ page.previous_page_number }}{{addSort}}"><i class="fa fa-angle-left"></i></a></li>
            {%endif%}
            {% for i in page.paginator.page_range %}
            {% if page.number == i %}
            <li class="active"><a href="#">{{ i }}</a></li>
            {%else%}
            <li><a href="?page={{ i }}{{addSort}}">{{ i }}</a></li>
            {% endif %}
              {% endfor %}
              {% if page.has_next %}

            <li><a href="?page={{ page.next_page_number }}{{addSort}}"><i class="fa fa-angle-right"></i></a></li>
            {% endif %}
            {% endif %}

          </ul>
        </div>


      
      </div>
    </div>
    
    <div class="ps-sidebar" data-mh="product-listing">
      <aside class="ps-widget--sidebar ps-widget--category">
        <div class="ps-widget__header">



          {% block productfilter %}
<hr>


<form action="{% url 'category_detail' slug=category.slug %}" method="GET" name="filter">
  {{ category|product_spec }}
<p class="text-center">
  <button class="btn btn-outline-success" type="submit">Поиск</button>
  <button class="btn btn-outline-info" type="submit">Сбросить</button>
</p>
</form>

{% endblock productfilter %}
         
      </aside>
     
      <!--aside.ps-widget--sidebar-->
      <!--    .ps-widget__header: h3 Ads Banner-->
      <!--    .ps-widget__content-->
      <!--        a(href='product-listing'): img(src="images/offer/sidebar.jpg" alt="")-->
      <!---->
      <!--aside.ps-widget--sidebar-->
      <!--    .ps-widget__header: h3 Best Seller-->
      <!--    .ps-widget__content-->
      <!--        - for (var i = 0; i < 3; i ++)-->
      <!--            .ps-shoe--sidebar-->
      <!--                .ps-shoe__thumbnail-->
      <!--                    a(href='#')-->
      <!--                    img(src="images/shoe/sidebar/"+(i+1)+".jpg" alt="")-->
      <!--                .ps-shoe__content-->
      <!--                    if i == 1-->
      <!--                        a(href='#').ps-shoe__title Nike Flight Bonafide-->
      <!--                    else if i == 2-->
      <!--                        a(href='#').ps-shoe__title Nike Sock Dart QS-->
      <!--                    else-->
      <!--                        a(href='#').ps-shoe__title Men's Sky-->
      <!--                    p <del> £253.00</del> £152.00-->
      <!--                    a(href='#').ps-btn PURCHASE-->

    </div>
  </div>

        </div>
      </div>
    </div>
  </div>
  
</main>

{%endblock main%}