{%extends 'base.html'%}
{% load static%}
{%load crispy_forms_tags%}
{%block main%}

    <main class="ps-main">
      <div class="ps-checkout pt-80 pb-80">
        <div class="ps-container">
            <div class="row">
                  <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 ">
                    <div class="ps-checkout__billing">
                      <h3>Данные заказа</h3>

                      <form action="{% url 'make_order' %}" method="POST">
                        {%csrf_token%}
                            {{form|crispy}}
               
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
                    <div class="ps-checkout__order">
                      <header>
                        <h3> информация о заказе</h3>
                      </header>
                      <div class="content">
                        <table class="table ps-checkout__products">
                          <thead>
                            <tr>
                              <th class="text-uppercase">Продукт</th>
                              <th class="text-uppercase">Цена</th>
                              <th class="text-uppercase">Кол-во</th>

                            </tr>
                          </thead>
                          <tbody>
                            {%for item in cart.products.all%}
                            <tr>
                              <td>{{item.product.title}}</td>
                              <td>{{item.product.price}} Грн</td>
                              <td> x {{item.qty}}</td>
                            </tr>
                            <tr>                            {%endfor%}

                              <td>Общая сумма</td>
                              <td>{{cart.final_price}} Грн</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <footer>
                        <h3>Payment Method</h3>
                        <div class="form-group cheque">
                          <div class="ps-radio">
                            <input class="form-control" type="radio" id="rdo01" name="payment" checked>
                            <label for="rdo01">Cheque Payment</label>
                            <p>Please send your cheque to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
                          </div>
                        </div>
                        <div class="form-group paypal">
                          <div class="ps-radio ps-radio--inline">
                            <input class="form-control" type="radio" name="payment" id="rdo02">
                            <label for="rdo02">Paypal</label>
                          </div>
                          <ul class="ps-payment-method">
                            <li><a href="#"><img src="images/payment/1.png" alt=""></a></li>
                            <li><a href="#"><img src="images/payment/2.png" alt=""></a></li>
                            <li><a href="#"><img src="images/payment/3.png" alt=""></a></li>
                          </ul>
                          
                          <button class="ps-btn ps-btn--fullwidth" value="Оформить заказ">Оформить заказ<i class="ps-icon-next"></i></button>
                        
                        </form>
                        
                        </div>
                      </footer>
                    </div>
                    <div class="ps-shipping">
                      <h3>FREE SHIPPING</h3>
                      <p>YOUR ORDER QUALIFIES FOR FREE SHIPPING.<br> <a href="#"> Singup </a> for free shipping on every order, every time.</p>
                    </div>
                  </div>
            </div>
        </div>
      </div>

        
    </main>
    {%endblock main%}