<div class="ps-product__block ps-product__size">
    <h4>CHOOSE SIZE<a href="https://vkorzinu.biz.ua/uznat-svoj-razmer">Size chart</a></h4>
    <select class="ps-select selectpicker">
      <option value="1">Select Size</option>
      <option value="2">4</option>
      <option value="3">4.5</option>
      <option value="3">5</option>
      <option value="3">6</option>
      <option value="3">6.5</option>
      <option value="3">7</option>
      <option value="3">7.5</option>
      <option value="3">8</option>
      <option value="3">8.5</option>
      <option value="3">9</option>
      <option value="3">9.5</option>
      <option value="3">10</option>
    </select>
    <div class="form-group">
      <input class="form-control" type="number" value="1">
    </div>
  </div>