{%extends 'base.html'%} 
{%block title%}<title>Контакты</title>{%endblock title%}
{%block main%}

<div class="container mb-5 ">

  <div class="row m-2 mb-5 ">
    <div class="col-sm">
      <section class="section-name bg padding-y">
          <div class="container">
            {%for i in contact%}
          <h1>{{i.title| safe}}</h1><br>
          <p>  {{i.text| safe}} </p>
          <p class="h2"> <i class="fa fa-volume-control-phone" aria-hidden="true"> Вайбер:  <a href="viber://add?number={{i.phone}}">{{i.phone}} </a></i>
          </p>   
           
          <p class="h2"> 
          <i class="fa fa-phone" aria-hidden="true"> Телефон:<a href="tel:{{i.phone}}"> {{i.phone}}</a> </i>
          </p>
             
          <p class="h2"> 
          <i class="fa fa-instagram " aria-hidden="true"> Инстаграмм: <a href="{{i.insta}}">{{i.instatitle}}</a></i>
          </p>
          <p class="h2"> 
            <i class="fa fa-instagram " aria-hidden="true"> Фейсбук: <a href="{{i.facebook}}">{{i.facebooktitle}}</a></i>
            </p>
          {%endfor%}
  </div>
</section>
  </div>

</div>

<br></div>

{%endblock main%}
