{%extends 'base.html'%} 

 {%block main%}
 
<div class="container">
    
    <div class="row">

        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">
                <div class="panel-heading">
                    
                    <hr>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="alert alert-success" role="alert">
                            <h3 class="alert-heading">Сообщение отправлено</h4>
                            <p class="h3">Вам отправлено сообщение с дальнейшей инструкцией</p>
                            <hr>
                            <p class="mb-0">При необходимости свяжитесь с Администратором. <a href="China@gmail.com">China@gmail.com</a></p>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

 {%endblock main%}

 