{%extends 'base.html'%}
{% load static%}
{% load mptt_tags %}


{%block main%}
    <main class="ps-main">
      <div class="test">
        <div class="container">
          <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 ">
                </div>
          </div>
        </div>
      </div>
      <div class="ps-product--detail pt-60">
        <div class="ps-container">
          <div class="row">
            <div class="col-lg-10 col-md-12 col-lg-offset-1">
              <div class="ps-product__thumbnail">
                <div class="ps-product__preview">
                  <div class="ps-product__variants">
                    <div class="item"><img src="{%if product.image1%} {{product.image1.url}} {%endif%}" alt="{{product.title}}"></div>
                    <div class="item"><img src="{%if product.image2%} {{product.image2.url}} {%endif%}" alt="{{product.title}}"></div>
                    {%if product.image3%} <div class="item"><img src=" {{product.image3.url}} " ></div>{%endif%}
                    {%if product.image4%}<div class="item"><img src=" {{product.image4.url}} " ></div>{%endif%}
                    {%if product.image5%}  <div class="item"><img src="{{product.image5.url}} " ></div>{%endif%}
                  </div>
                  <!-- <a class="popup-youtube ps-product__video" href="http://www.youtube.com/watch?v=0O2aH4XLbto"><img src="{{product.image1.url}}" alt="{{product.title}}"><i class="fa fa-play"></i></a> -->
                </div>
                <div class="ps-product__image">
                  <div class="item"><img class="zoom" src="{%if product.image1%} {{product.image1.url}} {%endif%}" alt="{{product.title}}" data-zoom-image="{%if product.image1%} {{product.image1.url}} {%endif%}" ></div>
                  <div class="item"><img class="zoom" src="{%if product.image2%} {{product.image2.url}} {%endif%}" alt="{{product.title}}" data-zoom-image="{%if product.image2%} {{product.image2.url}} {%endif%}"></div>
                  {%if product.image3%} <div class="item"><img class="zoom" src=" {{product.image3.url}} "  data-zoom-image="{%if product.image3%} {{product.image3.url}} {%endif%}"></div>{%endif%}
                  {%if product.image4%}  <div class="item"><img class="zoom" src="{{product.image4.url}} "  data-zoom-image="{%if product.image4%} {{product.image4.url}} {%endif%}"></div>{%endif%}
                  {%if product.image5%} <div class="item"><img class="zoom" src="{{product.image5.url}} "  data-zoom-image="{%if product.image5%} {{product.image5.url}} {%endif%}"></div>{%endif%}

                </div>
              </div>
              <div class="ps-product__thumbnail--mobile">
                <div class="ps-product__main-img"><img src="{{product.image1.url}}" alt="{{product.title}}"></div>
                <div class="ps-product__preview owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="5000" data-owl-gap="20" data-owl-nav="true" data-owl-dots="false" data-owl-item="3" data-owl-item-xs="3" data-owl-item-sm="3" data-owl-item-md="3" data-owl-item-lg="3" data-owl-duration="1000" data-owl-mousedrag="on"><img src="{%if product.image2%} {{product.image2.url}} {%endif%}" alt="{{product.title}}"><img src="{%if product.image3%} {{product.image3.url}} {%endif%}" alt="{{product.title}}"><img src="{%if product.image4%} {{product.image4.url}} {%endif%}" alt="{{product.title}}"></div>
              </div>
              <div class="ps-product__info">
                <div class="ps-product__rating">
                  <!-- <select class="ps-rating">
                    <option value="1">1</option>
                    <option value="1">2</option>
                    <option value="1">3</option>
                    <option value="1">4</option>
                    <option value="2">5</option>
                  </select><a href="#">(Read all 8 reviews)</a> -->
                </div>
                <h1>{{product.title}}</h1>
                <p class="ps-product__category"><a href="{{product.category.get_absolute_url}}">{{product.category}}</a></p>
                <h3 class="ps-product__price">{{product.price}} Грн<del>£ 330</del></h3>
                <div class="ps-product__block ps-product__quickview">
                  <b class="mt-4"> Характеристики:</b>
                  <table class="table">
                    <tbody>
                    {% for f_name, f_value in product.get_features.items %}
                      <tr>
                        <th scope="row">{{ f_name }}</th>
                        <td> {{f_value}} </td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
              
              
                </div>
                <!-- <div class="ps-product__block ps-product__style">
                  <h4>CHOOSE YOUR STYLE</h4>
                  <ul>
                    <li><a href="product-detail.html"><img src="images/shoe/sidebar/1.jpg" alt=""></a></li>
                    <li><a href="product-detail.html"><img src="images/shoe/sidebar/2.jpg" alt=""></a></li>
                    <li><a href="product-detail.html"><img src="images/shoe/sidebar/3.jpg" alt=""></a></li>
                    <li><a href="product-detail.html"><img src="images/shoe/sidebar/2.jpg" alt=""></a></li>
                  </ul>
                </div> -->
                
                <!-- {%include 'clothes_specifications.html'%} -->

                      <!-- {%if product.category.slug == 'books' %}

                          {%include 'clothes_specifications.html'%}

                      {%else%}

                          {%include 'shoes_specifications.html'%}

                      {%endif%} -->



                          {% if product.available%}
                <div class="ps-product__shopping"><a class="ps-btn mb-10" href="{%url 'add_to_cart' slug=product.slug%}">Добавить в корзину<i class="ps-icon-next"></i></a>
                  <!-- <div class="ps-product__actions"><a class="mr-10" href="whishlist.html"><i class="ps-icon-heart"></i></a><a href="compare.html"><i class="ps-icon-share"></i></a></div> -->
                </div>
                {%else%}
                <h3>Товар не доступен</h3>
                {%endif%}



              </div>
              <div class="clearfix"></div>
              <div class="ps-product__content mt-50">
                <ul class="tab-list" role="tablist">
                  <li class="active"><a href="#tab_01" aria-controls="tab_01" role="tab" data-toggle="tab">Описание</a></li>
                  <li><a href="#tab_02" aria-controls="tab_02" role="tab" data-toggle="tab">Отзывы</a></li>
           
                </ul>
              </div>
              <div class="tab-content mb-60">
                <div class="tab-pane active" role="tabpanel" id="tab_01">
                  <p> {{product.description}} </p>
                </div>
                <div class="tab-pane" role="tabpanel" id="tab_02">
                  <div class="ps-review">
                    <!-- <div class="ps-review__thumbnail"><img src="images/user/1.jpg" alt=""></div> -->
                    <div class="ps-review__content">
                      <!-- <header>
                        <select class="ps-rating">
                          <option value="1">1</option>
                          <option value="1">2</option>
                          <option value="1">3</option>
                          <option value="1">4</option>
                          <option value="5">5</option>
                        </select> 
                                         </header> -->

                                         {%if not product.rewiews_set.all.count%}
                                          <p>Отзывов нет</p>
                                         {%endif%}

                      {%for review in product.rewiews_set.all%}
                        <p>От <b> {{review.name}} </b> - {{review.data|date:"d.m.Y H:i"}}</p> 
                        <p>{{review.text}}</p>
  
                      {%endfor%}

                    </div>
                  </div>

                  {% if user.is_authenticated %}
                  <form class="ps-product__review" action="{% url 'add_review' product.id %}" method="POST">
                    {%csrf_token%}
                    <!-- <h4>Добавить отзыв</h4> -->
                    <div class="row">
                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                            <!-- <div class="form-group">
                              <label>Name:<span>*</span></label>
                              <input class="form-control" type="text" placeholder="">
                            </div>
                            <div class="form-group">
                              <label>Email:<span>*</span></label>
                              <input class="form-control" type="email" placeholder="">
                            </div> -->
                            <div class="form-group">
                              <!-- <label>Your rating<span></span></label>
                              <select class="ps-rating">
                                <option value="1">1</option>
                                <option value="1">2</option>
                                <option value="1">3</option>
                                <option value="1">4</option>
                                <option value="5">5</option>
                              </select> -->
                            </div>
                          </div>
                          <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 ">
                            <div class="form-group">
                              <label>Ваш отзыв:</label>
                              <textarea class="form-control" rows="6" name="text"></textarea>
                            </div>
                            <div class="form-group">
                              <button class="ps-btn ps-btn--sm">Отправить<i class="ps-icon-next"></i></button>
                            </div>
                          </div>
                    </div>
                  </form>
                  {%else%}
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                      <div class="form-group">
                      </div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 ">
                      <div class="form-group">
                        <label>Ваш отзыв:</label>
                        <textarea class="form-control" rows="6" name="text"> Только зарегистрированные пользователи могут оставлять комментарии </textarea>
                      </div>
                      <div class="form-group">
                        <!-- <button class="ps-btn ps-btn--sm">Отправить<i class="ps-icon-next"></i></button> -->
                      </div>
                    </div>
              </div>
            </form>
{%endif%}
















                </div>
                <!-- <div class="tab-pane" role="tabpanel" id="tab_03">
                  <p>Add your tag <span> *</span></p>
                  <form class="ps-product__tags" action="_action" method="post">
                    <div class="form-group">
                      <input class="form-control" type="text" placeholder="">
                      <button class="ps-btn ps-btn--sm">Add Tags</button>
                    </div>
                  </form>
                </div> -->
                <!-- <div class="tab-pane" role="tabpanel" id="tab_04">
                  <div class="form-group">
                    <textarea class="form-control" rows="6" placeholder="Enter your addition here..."></textarea>
                  </div>
                  <div class="form-group">
                    <button class="ps-btn" type="button">Submit</button>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ps-section ps-section--top-sales ps-owl-root pt-40 pb-80">
        <div class="ps-container">
          <div class="ps-section__header mb-50">
            <div class="row">
                  <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 ">
                    <h3 class="ps-section__title" data-mask="Related item">- Вам также понравится</h3>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
                    <div class="ps-owl-actions"><a class="ps-prev" href="/"><i class="ps-icon-arrow-right"></i>Prev</a><a class="ps-next" href="/">Next<i class="ps-icon-arrow-left"></i></a></div>
                  </div>
            </div>
          </div>
          <div class="ps-section__content">
            <div class="ps-owl--colection owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="5000" data-owl-gap="30" data-owl-nav="false" data-owl-dots="false" data-owl-item="4" data-owl-item-xs="1" data-owl-item-sm="2" data-owl-item-md="3" data-owl-item-lg="4" data-owl-duration="1000" data-owl-mousedrag="on">
    
              {%for i in randomProducts%}
              <div class="ps-shoes--carousel">
                <div class="ps-shoe">
                  <div class="ps-shoe__thumbnail">
                    <!-- <a class="ps-shoe__favorite" href="#"><i class="ps-icon-heart"></i></a> -->
                    <img src="{{ i.image1.url }}" alt="{{ i.title }}" height="310"><a class="ps-shoe__overlay" href="{{i.get_absolute_url}}"></a>
                  </div>
                  <div class="ps-shoe__content">
                    <div class="ps-shoe__variants">
                      <div class="ps-shoe__variant normal"><img src="{%if i.image2%} {{i.image2.url}} {%endif%}" alt=""><img src="{%if i.image3%} {{i.image3.url}} {%endif%}" alt=""><img src="{%if i.image4%} {{i.image4.url}} {%endif%}" alt=""><img src="{%if i.image5%} {{i.image5.url}} {%endif%}" alt=""></div>
                      <!-- <select class="ps-rating ps-shoe__rating">
                        <option value="1">1</option>
                        <option value="1">2</option>
                        <option value="1">3</option>
                        <option value="1">4</option>
                        <option value="2">5</option>
                      </select> -->
                    </div>
                    <div class="ps-shoe__detail"><a class="ps-shoe__name" href="{{i.get_absolute_url}}">{{ i.title }}</a>
                      <p class="ps-shoe__categories"><a href="{{ i.category.get_absolute_url }}">{{ i.category }}</a></p><span class="ps-shoe__price"> {{i.price}}</span>
                    </div>
                  </div>
                </div>
              </div>
              {%endfor%}
    
            </div>
          </div>
        </div>
      </div>
      
    {%endblock main%}