<div class="ps-product__block ps-product__size">
    <h4>CHOOSE SIZE<a href="#">Size chart</a></h4>
    <select class="ps-select selectpicker">
      <option value="1">Select Size</option>
      <option value="2">36</option>
      <option value="3">37</option>
      <option value="3">38</option>
      <option value="3">39</option>
      <option value="3">40</option>
      <option value="3">41</option>
      <option value="3">42</option>
      <option value="3">43</option>
      <option value="3">44</option>
   
    </select>
    <div class="form-group">
      <input class="form-control" type="number" value="1">
    </div>
  </div>