<div class="ps-product__block ps-product__size">
    <h4>CHOOSE SIZE<a href="#">Size chart</a></h4>
    <select class="ps-select selectpicker">
      <option value="1">Select Size</option>
      <option value="2">36</option>
      <option value="3">37</option>
      <option value="3">38</option>
      <option value="3">39</option>
      <option value="3">40</option>
      <option value="3">41</option>
      <option value="3">42</option>
      <option value="3">43</option>
      <option value="3">44</option>
   
    </select>
    <div class="form-group">
      <input class="form-control" type="number" value="1">
    </div>
  </div>










  {% for node  in product.category.all %}

  {{ node.name}}   
 {%endfor%}














 {% for node in category %}

     {% if node.level == 0 %} 
<li class="menu-item menu-item-has-children has-mega-menu"><a href="#">{{ node.name }}</a>
  {% endif %}

  <div class="mega-menu">
    <div class="mega-wrap">
      <div class="mega-column">
        <ul class="mega-item mega-features">
          <li><a href="product-listing.html">NEW RELEASES</a></li>
          <li><a href="product-listing.html">FEATURES SHOES</a></li>
          <li><a href="product-listing.html">BEST SELLERS</a></li>
          <li><a href="product-listing.html">NOW TRENDING</a></li>
          <li><a href="product-listing.html">SUMMER ESSENTIALS</a></li>
          <li><a href="product-listing.html">MOTHER'S DAY COLLECTION</a></li>
          <li><a href="product-listing.html">FAN GEAR</a></li>
        </ul>
      </div>
      {% for item in node.children.all %}

      <div class="mega-column">
        <h4 class="mega-heading">{{item.name}} </h4>
        {% for child in item.children.all  %}
        <ul class="mega-item">
          <li><a href="product-listing.html">{{ child.name }}</a></li>
        </ul>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
  </div>
</li>


{% endfor %}



</div>