{%extends 'base.html'%} 
 {%block main%}
 <main class="ps-main">
    <div class="ps-content pt-80 pb-80">
      <div class="ps-container">
        {%if not favorite %}
        <h3 class="text-center" style="margin: 25px;">  Пусто </h3>

        {%endif%}
        {%if favorite %}
        <div class="ps-cart-listing ps-table--whishlist">
          <table class="table ps-cart__table">
            <thead>
              <tr>
                <th>Продукты</th>
                <th>Цена</th>
                <th>Обзор</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {%for item in favorite%}
              <tr>
                <td><a class="ps-product__preview" href="{{item.products.get_absolute_url}}"><img class="mr-15" src="{{item.products.image1.url}}" alt="">{{item.products.title}}</a></td>
                <td>{%if product.old_price%}<del>£{{product.old_price}}</del> {%endif%} £ {{item.products.price}} </td>
                <td><a class="ps-product-link" href="{{item.products.get_absolute_url}}">Подробнее</a></td>
                <td>
                  <a href="{%url 'remove_from_whishlist' slug=item.products.slug  %}" title="Удалить"><div class="ps-remove"></div></a>
                </td>
              </tr>
              {%endfor%}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {%endif%}

    <!-- <div class="ps-subscribe">
      <div class="ps-container">
        <div class="row">
              <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 ">
                <h3><i class="fa fa-envelope"></i>Sign up to Newsletter</h3>
              </div>
              <div class="col-lg-5 col-md-7 col-sm-12 col-xs-12 ">
                <form class="ps-subscribe__form" action="do_action" method="post">
                  <input class="form-control" type="text" placeholder="">
                  <button>Sign up now</button>
                </form>
              </div>
              <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12 ">
                <p>...and receive  <span>$20</span>  coupon for first shopping.</p>
              </div>
        </div>
      </div>
    </div>
    <div class="ps-footer bg--cover" data-background="images/background/parallax.jpg">
      <div class="ps-footer__content">
        <div class="ps-container">
          <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
                  <aside class="ps-widget--footer ps-widget--info">
                    <header><a class="ps-logo" href="index.html"><img src="images/logo-white.png" alt=""></a>
                      <h3 class="ps-widget__title">Address Office 1</h3>
                    </header>
                    <footer>
                      <p><strong>460 West 34th Street, 15th floor, New York</strong></p>
                      <p>Email: <a href='mailto:support@store.com'>support@store.com</a></p>
                      <p>Phone: +323 32434 5334</p>
                      <p>Fax: ++323 32434 5333</p>
                    </footer>
                  </aside>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
                  <aside class="ps-widget--footer ps-widget--info second">
                    <header>
                      <h3 class="ps-widget__title">Address Office 2</h3>
                    </header>
                    <footer>
                      <p><strong>PO Box 16122 Collins  Victoria 3000 Australia</strong></p>
                      <p>Email: <a href='mailto:support@store.com'>support@store.com</a></p>
                      <p>Phone: +323 32434 5334</p>
                      <p>Fax: ++323 32434 5333</p>
                    </footer>
                  </aside>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 ">
                  <aside class="ps-widget--footer ps-widget--link">
                    <header>
                      <h3 class="ps-widget__title">Find Our store</h3>
                    </header>
                    <footer>
                      <ul class="ps-list--link">
                        <li><a href="#">Coupon Code</a></li>
                        <li><a href="#">SignUp For Email</a></li>
                        <li><a href="#">Site Feedback</a></li>
                        <li><a href="#">Careers</a></li>
                      </ul>
                    </footer>
                  </aside>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 ">
                  <aside class="ps-widget--footer ps-widget--link">
                    <header>
                      <h3 class="ps-widget__title">Get Help</h3>
                    </header>
                    <footer>
                      <ul class="ps-list--line">
                        <li><a href="#">Order Status</a></li>
                        <li><a href="#">Shipping and Delivery</a></li>
                        <li><a href="#">Returns</a></li>
                        <li><a href="#">Payment Options</a></li>
                        <li><a href="#">Contact Us</a></li>
                      </ul>
                    </footer>
                  </aside>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 ">
                  <aside class="ps-widget--footer ps-widget--link">
                    <header>
                      <h3 class="ps-widget__title">Products</h3>
                    </header>
                    <footer>
                      <ul class="ps-list--line">
                        <li><a href="#">Shoes</a></li>
                        <li><a href="#">Clothing</a></li>
                        <li><a href="#">Accessries</a></li>
                        <li><a href="#">Football Boots</a></li>
                      </ul>
                    </footer>
                  </aside>
                </div>
          </div>
        </div>
      </div>
      <div class="ps-footer__copyright">
        <div class="ps-container">
          <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                  <p>&copy; <a href="#">SKYTHEMES</a>, Inc. All rights Resevered. Design by <a href="#"> Alena Studio</a></p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                  <ul class="ps-social">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                  </ul>
                </div>
          </div>
        </div>
      </div>
    </div> -->
  </main>
 {%endblock main%}