{%extends 'base.html'%} 
{%block title%} <title>{{title}}</title> {%endblock title%}
{%block main%}

    <main class="ps-main">
      <div class="ps-blog-grid pt-80 pb-80">
        <div class="ps-container">
          <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 ">
                  {%if not posts %}
                  <div class="content">
                    <b><a class="ps-post__title" href="{%url 'blog'%}">По вашему запросу ничего не найдено...</a></b>
                  </div>
                     
                  {%endif%}
                  {%for post in posts %}
                      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
                        <div class="ps-post mb-30">

                          <div class="ps-post__thumbnail"><a class="ps-post__overlay" href="{{post.get_absolute_url}}"></a>                    {% if post.photo %}
                            <img src="{{post.photo.url}}"  height="250" alt="{{post.title}}" >
                              {%else%}
                              <img src="https://thumbs.dreamstime.com/b/no-image-available-icon-photo-camera-flat-vector-illustration-132483141.jpg" alt="">
                              {%endif%}</div>
                          <div class="ps-post__content"><a class="ps-post__title" href="{{post.get_absolute_url}}">{{post.title}}</a>
                            <p class="ps-post__meta">
                              {%if post.author%}
                              <span>By:<a class="mr-5" href="#">{{post.author}}</a></span>
                              {%else%}
                              <span>By:<a class="mr-5" href="#">Anonimous</a></span>
                              {%endif%}
                              <span class="ml-5"> {{post.created_at| date:"Y-m-d- H:i"  }}</span>
                              -<span class="ml-5">Категория: <a href="{{post.category.get_absolute_url}}">{{post.category}}</a> </span> </p>
                            <p> {{post.content|truncatewords_html:20|safe}}</p>
                          </div>
                          <footer class="ps-post__footer">
                            <div class="ps-post__actions"><span><i class="fa fa-comments"></i> 23 К(я)</span><span><a href="#"><i class="fa fa-heart" title="Поставить лайк"></i></a> 12 Лайков</span>
                              <div class="ps-post__social"><i class="fa fa-share-alt"></i><a href="#">Share</a>
                                <ul>
                                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                              </div>
                            </div>
                          </footer>
                          <a class="ps-morelink" href="{{post.get_absolute_url}}"><strong>Далее</strong> <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                      </div>
                      

                      {%endfor%}


                 
                      <div class="mt-30">


                        {%if page_obj.has_other_pages%}
    
                        <div class="ps-pagination">
                          <ul class="pagination">
                            {%if page_obj.has_previous%}
                            <li><a href="?page={{page_obj.previous_page_number}}"><i class="fa fa-angle-left"></i></a></li>
                            {%endif%}
                            {%for p in page_obj.paginator.page_range%}
                              {% if page_obj.number == p %}
                              <li class="active"><a href="?page={{p}}">{{p}}</a></li>
    
                              {%elif p > page_obj.number|add:-3 and p < page_obj.number|add:+3 %}
                              <li><a href="?page={{p}}">{{p}}</a></li>
    
                              {%endif%}
                            {%endfor%}
                          
    
                            {%if page_obj.has_next%}
                            <li><a href="?page={{page_obj.next_page_number}}"><i class="fa fa-angle-right"></i></a></li>
                            {%endif%}
    
                            
                          </ul>
                        </div>
                        {%endif%}
    
                      </div>

                </div>
                {% include 'inc/_right_bar.html'%}

          </div>
        </div>
      </div>
      
    
    </main>
    
  
    {%endblock main%}