{% load my_tags %}
{%get_tags as tags%}
{%get_categories as category%}

<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
    <aside class="ps-widget--sidebar ps-widget--search">
      <form class="ps-search--widget" action="do_action" method="post">
        <input class="form-control" type="text" placeholder="Search posts...">
        <button><i class="ps-icon-search"></i></button>
      </form>
    </aside>
    <aside class="ps-widget--sidebar">
      <div class="ps-widget__header">
        <h3>Archive</h3>
      </div> 
      <div class="ps-widget__content">
        <ul class="ps-list--arrow">
          <li class="current"><a href="{%url 'blog'%}">Все</a></li>

          {%for i in category%}
          <li><a href='{{ i.get_absolute_url}}'>{{i}}</a></li>
          {%endfor%}
        </ul>
      </div>
    </aside>
    <aside class="ps-widget--sidebar">
      <div class="ps-widget__header">
        <h3>Ads Banner</h3>
      </div>
      <div class="ps-widget__content"><a href="#"><img src="#" alt=""></a></div>
    </aside>
    <aside class="ps-widget--sidebar">
      <div class="ps-widget__header">
        <h3>Recent Posts</h3>
      </div>
      <div class="ps-widget__content">
        <div class="ps-post--sidebar">
          <div class="ps-post__thumbnail"><a href="#"></a><img src="#" alt=""></div>
          <div class="ps-post__content"><a class="ps-post__title" href="#">Micenas Placerat Nibh Loreming Fentum</a><span>SEP 29, 2017</span></div>
        </div>
        <div class="ps-post--sidebar">
          <div class="ps-post__thumbnail"><a href="#"></a><img src="#" alt=""></div>
          <div class="ps-post__content"><a class="ps-post__title" href="#">Micenas Placerat Nibh Loreming Fentum</a><span>SEP 29, 2017</span></div>
        </div>
        <div class="ps-post--sidebar">
          <div class="ps-post__thumbnail"><a href="#"></a><img src="#" alt=""></div>
          <div class="ps-post__content"><a class="ps-post__title" href="#">Micenas Placerat Nibh Loreming Fentum</a><span>SEP 29, 2017</span></div>
        </div>
      </div>
    </aside>
    <aside class="ps-widget--sidebar">
      <div class="ps-widget__header">
        <h3>Best Seller</h3>
      </div>
      <div class="ps-widget__content">
        <div class="ps-shoe--sidebar">
          <div class="ps-shoe__thumbnail"><a href="#"></a><img src="#" alt=""></div>
          <div class="ps-shoe__content"><a class="ps-shoe__title" href="#">Men's Sky</a>
            <p><del> £253.00</del> £152.00</p><a class="ps-btn" href="#">PURCHASE</a>
          </div>
        </div>
        <div class="ps-shoe--sidebar">
          <div class="ps-shoe__thumbnail"><a href="#"></a><img src="#" alt=""></div>
          <div class="ps-shoe__content"><a class="ps-shoe__title" href="#">Nike Flight Bonafide</a>
            <p><del> £253.00</del> £152.00</p><a class="ps-btn" href="#">PURCHASE</a>
          </div>
        </div>
        <div class="ps-shoe--sidebar">
          <div class="ps-shoe__thumbnail"><a href="#"></a><img src="#" alt=""></div>
          <div class="ps-shoe__content"><a class="ps-shoe__title" href="#">Nike Sock Dart QS</a>
            <p><del> £253.00</del> £152.00</p><a class="ps-btn" href="#">PURCHASE</a>
          </div>
        </div>
      </div>
    </aside>
    <aside class="ps-widget--sidebar">
      <div class="ps-widget__header">
        <h3>Tags</h3>
      </div>
      <div class="ps-widget__content">
        <ul class="ps-tags">
          {%for tag in tags%}
          <li><a href="{{tag.get_absolute_url}}">{{tag}}</a></li>
          {%endfor%}
        </ul>
      </div>
    </aside>
  </div>